:root {
    --black-100:;
    --black-200:;
    --black-300:;
    --black-400:;
    --black-500: rgba(0, 0, 0, 0.54);
    --black-600:;
    --black-700:;
    --black-800:;
    --black-900:;
    --black: #000000;

    --white-100: #f0f0f0;
    --white-200:;
    --white-300:;
    --white-400:;
    --white-500:;
    --white-600:;
    --white-700:;
    --white-800:;
    --white-900:;
    --white: #ffffff;
}

/* Background Colors */
.bgc-blk-100 { background-color: var(--black-100);}
.bgc-blk-200 { background-color: var(--black-200);}

/* Font Colors */
.f-blk-100 { color: var(--black-100);}
