:root {
    --black: #000000;
    --black-100:;
    --black-200:;
    --black-300:;
    --black-400:;
    --black-500: rgba(0, 0, 0, 0.54);
    --black-600:;
    --black-700: #101010;
    --black-800: #0b0b0b;
    --black-900: #060606;
    
    --white: #ffffff;
    --white-100: #f0f0f0;
    --white-200: #f7f7f7;
    --white-300: #f9f9f9;
    --white-400: #ececec;
    --white-500:;
    --white-600:;
    --white-700:;
    --white-800:;
    --white-900:;
    
}

/* Background Colors */
.bgc-blk-100 { background-color: var(--black-100);}
.bgc-blk-200 { background-color: var(--black-200);}
.bgc-wht-100 { background-color: var(--white-100);}

/* Font Colors */
.f-blk-100 { color: var(--black-100);}
