:root {
    --black: #000000;
    --black-100:;
    --black-200:;
    --black-300:;
    --black-400:;
    --black-500: rgba(0, 0, 0, 0.54);
    --black-600:;
    --black-700: #101010;
    --black-800: #0b0b0b;
    --black-900: #060606;
    
    --white: #ffffff;
    --white-100: #f0f0f0;
    --white-200: #f7f7f7;
    --white-300: #f9f9f9;
    --white-400: #ececec;
    --white-500: #ededed;
    --white-600: #eeeeee;
    --white-700: #e1e1e1;
    --white-800: #e3e3e3;
    --white-900: #e5e5e5;
}

/* Background Colors */
.bgc-blk-500 { background-color: var(--black-500);}
.bgc-blk-700 { background-color: var(--black-700);}
.bgc-blk-800 { background-color: var(--black-800);}
.bgc-blk-900 { background-color: var(--black-900);}

.bgc-wht-100 { background-color: var(--white-100);}
.bgc-wht-200 { background-color: var(--white-200);}
.bgc-wht-300 { background-color: var(--white-300);}
.bgc-wht-400 { background-color: var(--white-400);}
.bgc-wht-500 { background-color: var(--white-500);}
.bgc-wht-600 { background-color: var(--white-600);}
.bgc-wht-700 { background-color: var(--white-700);}
.bgc-wht-800 { background-color: var(--white-800);}
.bgc-wht-900 { background-color: var(--white-900);}

/* Font Colors */
.f-blk-100 { color: var(--black-100);}
.f-wht-100 { color: var(--white-100);}
